[Desktop Entry]
Name=ArdorQuery
Comment=ArdorQuery application
Exec=/app/bin/ArdorQuery
Icon=org.emptyflow.ArdorQuery
Type=Application
Terminal=false
Categories=Qt;Network
