[Desktop Entry]
Name=ArdorQuery
Exec=/usr/bin/ArdorQuery
Comment=Desktop tester for HTTP(s) endpoints
Icon=ardorquery
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Network
